.btn {
    font-weight: 800;
	text-transform: uppercase;
    color: #000;
	font-size: 1rem;
    line-height: 1.125rem;
	display: inline-block;
	padding: 1.3125rem 2.5625rem;
	border-radius: 6.25rem;
	background-color: $yellow;
	border: none;
	cursor: pointer;

	&:hover {
		background-color: $yellow-dark;
	}

}