.feature {

    display: flex;
    align-items: center;

    &__icon {
        margin-right: 0.875rem;
        width: rem(35px); 
        height: rem(35px);
        fill: #fff;
    }

    &__desc {
        line-height: 1.125rem;
        font-weight: 700;
        color: #fff;
        max-width: 5.625rem;
        flex: 1;
    }
}