.footer {
    padding-top: 22px;
    padding-bottom: 22px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        color: $black;
        font-size: 21px;
        font-weight: 400;
    }

    &__adress {
        margin-bottom: 6px;
    }
}