.socials {
    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        margin-right: 0.875rem;

        &:last-child{
            margin-right: 0;
        }
    }

    &__img {
        width: 1.25rem;
        height: 1.25rem;
    }
}