.structure {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    padding: rem(28px) rem(25px);

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #000;
        margin-bottom: rem(32px);

        &:last-child{
            margin-bottom: 0;
        }

        &-col {
            display: flex;
            align-items: center;
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
        margin-right: rem(16px);
    }

    &__name {
        font-weight: 500;
    }
}