.title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.625rem;
    color: $black;
    margin-bottom: 3.3125rem;

    &--benefits {
        margin-bottom: 1.0625rem;
    }

    &--feedback {
        margin-bottom: 2rem;
    }

    &--order {

        @include tablets {
            margin-bottom: rem(30px);
        }

        margin-bottom: 3.6875rem;
        color: #fff;
    }

    &--team {
        margin-bottom: rem(53px);
    }
}