$containerWidth: 940px;

$baseFontSize: 16px;
$bodyFontSize: 1.125rem;

$fixed-menu: 100;
$hamburger-menu: 1000;

$yellow: #FEDB3F;
$yellow-dark: #FFD517;
$black: #292929;
$gray: #666;

$tablets: 768px;
$phones: 480px;

@import "https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap";
@import "https://fonts.googleapis.com/css2?family=Open+Sans&display=swap";

@import "layout/normalize.css";
@import "_media.scss";
@import "layout/_base.scss";
@import "layout/_layout.scss";

@import "blocks/_hero.scss";
@import "blocks/_features.scss";
@import "blocks/_section.scss";
@import "blocks/_benefits.scss";
@import "blocks/_feedbacks.scss";
@import "blocks/_order.scss";
@import "blocks/_contacts.scss";
@import "blocks/_hamburger-menu.scss";
@import "blocks/_slider.scss";

@import "elements/_navigation.scss";
@import "elements/_button.scss";
@import "elements/_title.scss";
@import "elements/_form.scss";
@import "elements/_contact-phone.scss";
@import "elements/_header.scss";
@import "elements/_feature.scss";
@import "elements/_benefit.scss";
@import "elements/_interactive-avatar.scss";
@import "elements/_radio.scss";
@import "elements/_menu.scss";
@import "elements/_footer.scss";
@import "elements/_socials.scss";
@import "elements/_hamburger.scss";
@import "elements/_logo.scss";
@import "elements/_product.scss";
@import "elements/_products.scss";
@import "elements/_structure.scss";
