@import 'https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Open+Sans&display=swap';
@import 'layout/normalize.css';
html {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

html,
body {
  height: 100%;
  position: relative;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  color: #666;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

address {
  font-style: normal;
}

input,
textarea {
  outline: none;
  border: none;
}

img {
  display: block;
  width: 100%;
}

p {
  margin: 0;
}

button {
  border: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
}

.hero {
  background: url(../img/background/bc-1.jpg) center center no-repeat;
  background-size: cover;
  color: #fff;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .hero {
    background-position-x: 55%;
  }
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding-top: 1.5rem;
}
@media screen and (max-width: 768px) {
  .hero__container {
    width: 100%;
    padding-top: 0;
  }
}
.hero__info {
  max-width: 50%;
}
@media screen and (max-width: 768px) {
  .hero__info {
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
  }
}
.hero__title {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 3.625rem;
  margin-bottom: 1.1625rem;
}
@media screen and (max-width: 768px) {
  .hero__title {
    font-size: 2.8rem;
    line-height: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__title {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
.hero__desc {
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  margin-bottom: 2.4375rem;
}
.hero__features {
  padding-bottom: 4.25rem;
  font-size: 1rem;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .features {
    display: none;
  }
}
.features__item {
  margin-right: 2.0625rem;
}
.features__item:last-child {
  margin-right: 0;
}

.section {
  height: 100vh;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .benefits__container {
    padding: 1.25rem 0;
  }
}
.benefits__description {
  line-height: 1.375rem;
  text-align: center;
  margin-bottom: 3.0625rem;
  padding: 0 27%;
}
@media screen and (max-width: 768px) {
  .benefits__description {
    padding: 0 20%;
  }
}
@media screen and (max-width: 480px) {
  .benefits__description {
    padding: 0;
  }
}
.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .benefits__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 1.5625rem;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    max-width: 100%;
    margin-bottom: 1.9375rem;
    padding-left: 0;
  }
  .benefits__item:last-child {
    margin-bottom: 0;
  }
}
.benefits__item::before {
  content: url(../img/svg/benefits-decor.svg);
  position: absolute;
  top: 3.625rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item::before {
    display: none;
  }
}
.benefits__item:last-child {
  padding-right: 0;
}
@media screen and (max-width: 480px) {
  .benefits__item:last-child {
    padding-right: 1.25rem;
  }
}
.benefits__item:last-child::before {
  display: none;
}
.benefits__item:first-child {
  padding-left: 0;
}

.feedbacks__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem 0;
}
.feedbacks__list {
  background-color: #f8faf9;
  padding: 2.625rem 0;
  margin-bottom: 0.9375rem;
  min-height: 21.75rem;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .feedbacks__list {
    padding: 2rem 0;
  }
}
.feedbacks__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.feedbacks__item--active {
  opacity: 1;
  position: static;
}
.feedbacks__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2.5rem;
}
@media screen and (max-width: 768px) {
  .feedbacks__item-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
.feedbacks__avatar {
  margin-right: 2.5rem;
  width: 15.8125rem;
  height: 16.5rem;
}
@media screen and (max-width: 768px) {
  .feedbacks__avatar {
    margin-right: 0;
    margin-bottom: 2rem;
    width: 8.6875rem;
    height: 8.6875rem;
  }
}
@media screen and (max-width: 480px) {
  .feedbacks__avatar {
    margin-right: 0;
    margin-bottom: 2rem;
    width: 9.375rem;
    height: 9.375rem;
  }
}
.feedbacks__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.feedbacks__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.feedbacks__title {
  font-weight: 700;
  font-size: 1.6875rem;
  line-height: 2rem;
  color: #292929;
  margin-bottom: 1.5625rem;
}
@media screen and (max-width: 768px) {
  .feedbacks__title {
    font-size: 1.5rem;
  }
}
.feedbacks__author {
  color: #292929;
  line-height: 1.5rem;
  font-weight: 500;
}
.feedbacks__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feedbacks p {
  margin-bottom: 1.5625rem;
  line-height: 1.375rem;
}
.feedbacks .interactive-avatar {
  margin-right: 0.375rem;
}
.feedbacks .interactive-avatar:last-child {
  margin-right: 0;
}

.order {
  background: url(../img/background/bc-2.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}
.order::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #2B2B2B;
  position: absolute;
  opacity: 0.4;
  z-index: -1;
}

.contacts {
  position: relative;
}

.products__list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.hamburger-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #313131;
  display: none;
}
.hamburger-menu__close-planks {
  position: absolute;
  right: 35px;
  top: 56px;
  width: 26px;
  height: 5px;
  background-color: #C4C4C4;
  border-radius: 40px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.hamburger-menu__close-planks::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 5px;
  background-color: #C4C4C4;
  border-radius: 40px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.slider {
  background-color: #f8faf9;
  padding: 1.25rem 0;
}
.slider .bx-wrapper {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background: none;
  margin: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  position: relative;
  top: -50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.slider__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.slider__controls {
  position: relative;
  width: 100%;
  height: 100%;
}
.slider__arrow {
  cursor: pointer;
  display: block;
  width: 15px;
  height: 29px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .slider__arrow {
    top: 30%;
  }
}
.slider__arrow--left {
  background: url(../img/svg/arrow-prev.svg) center center no-repeat;
  left: 0;
}
@media screen and (max-width: 768px) {
  .slider__arrow--left {
    left: 10%;
  }
}
.slider__arrow--right {
  background: url(../img/svg/arrow-next.svg) center center no-repeat;
  right: 0;
}
@media screen and (max-width: 768px) {
  .slider__arrow--right {
    right: 10%;
  }
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team__list--mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .team__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .team__list--desktop {
    display: none;
  }
  .team__list--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
  margin-right: 0.625rem;
  position: relative;
}
.team__item:last-child {
  margin-right: 0;
}
.team__img-wrapper {
  max-width: 13.75rem;
  max-height: 18.125rem;
  margin-bottom: 1.3125rem;
}
.team__description {
  max-width: 100%;
}
.team__description-wrapper {
  position: absolute;
  top: 100%;
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  .team__description-wrapper {
    max-width: 30%;
    position: static;
    margin-bottom: 1.25rem;
  }
}
.team__name {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.3125rem;
  color: #000;
  margin-bottom: 0.5rem;
  position: relative;
  margin-left: -10px;
}
.team__name::after {
  content: "";
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 4px;
  border-left-width: 4px;
  border-bottom: 7px solid #292929;
  position: absolute;
  top: 10px;
  margin-left: 5px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.team__name--active::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.team__post {
  color: #000;
  margin-bottom: 0.25rem;
}
.team__info {
  font-weight: 300;
}

.horizontal-menu {
  z-index: 0;
  background: url(../img/background/bc-3.jpeg) center center no-repeat;
  background-size: cover;
  position: relative;
}
.horizontal-menu::after {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2b2b2b;
  position: absolute;
  opacity: 0.2;
  z-index: -1;
}
.horizontal-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: absolute;
  right: 0;
  z-index: 100;
}
.horizontal-menu__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}
.horizontal-menu__header {
  z-index: 0;
  width: 6.375rem;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  margin: 0;
  cursor: pointer;
}
.horizontal-menu__header::after {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2b2b2b;
  position: absolute;
  opacity: 0.6;
  z-index: -1;
}
.horizontal-menu__header--one {
  background: url(../img/horizontal-menu/slide-1.jpeg) center center no-repeat;
  background-size: cover;
}
.horizontal-menu__header--two {
  background: url(../img/horizontal-menu/slide-2.jpeg) left 55% center no-repeat;
  background-size: cover;
}
.horizontal-menu__header--three {
  background: url(../img/horizontal-menu/slide-3.jpeg) left 50% center no-repeat;
  background-size: cover;
}
.horizontal-menu__title {
  font-weight: 700;
  font-size: 3rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  bottom: 15%;
  left: -65%;
}
.horizontal-menu__content {
  z-index: 0;
  position: relative;
  width: 0;
  overflow: hidden;
  -webkit-transition: 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  transition: 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
.horizontal-menu__content::after {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2b2b2b;
  position: absolute;
  opacity: 0.9;
  z-index: -1;
}
.horizontal-menu__content-inner {
  padding: 1.9375rem 2.375rem;
}

.video {
  background-color: #f8faf9;
}
.video__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: -0.5rem 1rem 0 1rem;
}
@media screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
}
.navigation--hamburger-menu {
  width: 100%;
  height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.navigation--hamburger-menu .navigation__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.navigation--hamburger-menu .navigation__item {
  color: #fff;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 4.5rem;
  margin: 0;
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.navigation__item {
  margin-right: 1.375rem;
  margin-top: 0.5rem;
}
.navigation__item:last-child {
  margin-right: 0;
}

.btn {
  font-weight: 800;
  text-transform: uppercase;
  color: #000;
  font-size: 1rem;
  line-height: 1.125rem;
  display: inline-block;
  padding: 1.3125rem 2.5625rem;
  border-radius: 6.25rem;
  background-color: #fedb3f;
  cursor: pointer;
}
.btn:hover {
  background-color: #ffd517;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.625rem;
  color: #292929;
  margin-bottom: 3.3125rem;
}
.title--benefits {
  margin-bottom: 1.0625rem;
}
.title--feedback {
  margin-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  .title--feedback {
    margin-bottom: 1rem;
  }
}
.title--order {
  margin-bottom: 3.6875rem;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .title--order {
    margin-bottom: 1.875rem;
  }
}
.title--team {
  margin-bottom: 3.3125rem;
}
.title--menu {
  color: #fff;
  margin-bottom: 0;
  text-align: start;
  position: absolute;
  top: 10%;
  left: 7%;
  z-index: 100;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 70%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .form {
    max-width: 100%;
  }
}
.form .input-error {
  border: 0.1875rem solid #fedb3f;
}
.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.form__col:last-child {
  padding-left: 1.6875rem;
}
@media screen and (max-width: 768px) {
  .form__col:last-child {
    padding-left: 0;
  }
}
.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.75rem;
}
.form__row--textarea {
  margin-bottom: 1.875rem;
}
.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 2rem;
}
.form__block:last-child {
  padding-right: 0;
}
.form__input {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  border: none;
  font-size: 0.875rem;
  padding: 1.25rem 0.75rem;
  border: 0.1875rem solid transparent;
  border-radius: 0.25rem;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.5rem 0.625rem;
  }
}
.form__input:focus {
  border: 0.1875rem solid #fedb3f;
}
.form__input--textarea {
  width: 86%;
  height: 9.9375rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    width: 100%;
    height: 5.125rem;
  }
}
.form__title {
  color: #fff;
  line-height: 1.375rem;
  margin-bottom: 0.125rem;
}
.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.form__controls--button {
  margin-top: 2.9375rem;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .form__controls--button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2.4375rem;
  }
}
.form__radio {
  margin-bottom: 1.1875rem;
}
.form__radio--checkbox {
  margin-bottom: 0;
}
.form__controls-item {
  margin-right: 1.375rem;
}
.form__controls-item:last-child {
  margin-right: 0;
}
.form__reset {
  display: block;
  height: 1.875rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.form__reset:hover {
  color: #fedb3f;
}

.contact-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-phone__icon {
  width: 0.8125rem;
  height: 0.9375rem;
}
.contact-phone__tel {
  font-size: 1.375rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #fff;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .header {
    background-color: #1968B1;
    padding: 26px 36px 26px 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .header {
    padding-left: 12px;
  }
}
.header__contact-phone {
  padding-top: 0.375rem;
}
@media screen and (max-width: 768px) {
  .header__contact-phone {
    display: none;
  }
}
.header__contact-phone-icon {
  fill: #fff;
  margin-right: 0.35rem;
}
.header__navigation {
  padding-top: 0.5625rem;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feature__icon {
  margin-right: 0.875rem;
  width: 2.1875rem;
  height: 2.1875rem;
  fill: #fff;
}
.feature__desc {
  line-height: 1.125rem;
  font-weight: 700;
  color: #fff;
  max-width: 5.625rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
}
.benefit__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 7.875rem;
  height: 7.875rem;
  background-color: #F2F5F4;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.25rem;
}
@media screen and (max-width: 768px) {
  .benefit__logo {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .benefit__logo {
    margin-right: 1.375rem;
    margin-bottom: 0;
  }
}
.benefit__icon {
  fill: #000;
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
}
.benefit__item-title {
  color: #292929;
  font-weight: 700;
  font-size: 1.6875rem;
  line-height: 2rem;
  margin-bottom: 1.25rem;
}
@media screen and (max-width: 768px) {
  .benefit__item-title {
    margin-bottom: 0.3125rem;
  }
}
@media screen and (max-width: 480px) {
  .benefit__item-title {
    margin-bottom: 0.625rem;
  }
}
@media screen and (max-width: 480px) {
  .benefit__info {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-right: 0.625rem;
  }
}
.benefit__info p {
  font-weight: 300;
  line-height: 1.375rem;
}

.interactive-avatar {
  width: 4.625rem;
  height: 4.625rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar:hover {
  border: 0.375rem solid #fedb3f;
}
.interactive-avatar--active {
  border: 0.375rem solid #fedb3f;
}
.interactive-avatar__btn {
  display: block;
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
}
.interactive-avatar__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 1.125rem;
}
.radio:last-child {
  margin-right: 0;
}
.radio__item {
  display: none;
}
.radio__item:checked ~ .radio__visible::before {
  display: block;
}
.radio__visible {
  position: relative;
  width: 1.5625rem;
  height: 1.5625rem;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 0.625rem;
}
.radio__visible::before {
  display: none;
  content: "";
  width: 0.8125rem;
  height: 0.8125rem;
  position: absolute;
  background: #fedb3f;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.radio--checkbox .radio__visible {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
}
.radio--checkbox .radio__visible::before {
  background: url(../img/svg/checkbox.svg) center center no-repeat;
}

.menu {
  position: fixed;
  top: 35%;
  right: 4%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
.menu__item {
  margin-bottom: 0.3125rem;
}
.menu__item--active .menu__link {
  border-color: #fff;
}
.menu__link {
  position: relative;
  display: block;
  width: 0.875rem;
  height: 0.875rem;
  border: 0.0625rem solid transparent;
  border-radius: 50%;
}
.menu__link::before {
  content: "";
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer {
  padding-top: 1.375rem;
  padding-bottom: 1.375rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__info {
  color: #292929;
  font-size: 1.3125rem;
}
@media screen and (max-width: 480px) {
  .footer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1.1875rem;
  }
}
.footer__contact-phone-icon {
  fill: #000;
  margin-right: 0.35rem;
}
.footer__adress {
  margin-bottom: 0.375rem;
}
@media screen and (max-width: 480px) {
  .footer__adress {
    margin-bottom: 0.75rem;
  }
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.socials__item {
  margin-right: 0.875rem;
  width: 1.25rem;
  height: 1.25rem;
}
.socials__item:last-child {
  margin-right: 0;
}
.socials__icon {
  fill: #B3B3B3;
  width: 1.25rem;
  height: 1.25rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.socials__icon:hover {
  fill: #000;
}

.hamburger {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 26px;
  height: 30px;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.hamburger__planks {
  display: block;
  height: 4.5px;
  width: 26px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}
.hamburger__planks::before {
  content: "";
  position: absolute;
  top: -10px;
  display: block;
  width: 26px;
  height: 4.5px;
  background-color: #fff;
  border-radius: 10px;
}
.hamburger__planks::after {
  content: "";
  position: absolute;
  top: 10px;
  display: block;
  width: 26px;
  height: 4.5px;
  background-color: #fff;
  border-radius: 10px;
}

.logo__icon {
  width: 3.5rem;
  height: 2.5rem;
  fill: #fff;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.product__image {
  display: block;
  width: 100%;
  background: url("../img/others/bc.png") center center no-repeat;
  background-size: 80%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media screen and (max-width: 768px) {
  .product__image {
    width: 50%;
  }
}
.product__img {
  margin: 0 auto;
  width: 9.375rem;
  height: 33.4375rem;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}
@media screen and (max-width: 768px) {
  .product__img {
    width: 7.25rem;
    height: 25.875rem;
  }
}
@media screen and (max-width: 480px) {
  .product__img {
    width: 5.75rem;
    height: 20.5625rem;
  }
}
.product__background {
  fill: #ececec;
  width: 24.8125rem;
  height: 23.6875rem;
}
.product__info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 1.25rem;
}
@media screen and (max-width: 768px) {
  .product__info {
    padding-left: 0;
  }
}
.product__dropdown {
  display: inline-block;
  position: relative;
  margin-bottom: 3.25rem;
}
@media screen and (max-width: 768px) {
  .product__dropdown {
    display: none;
  }
}
.product__dropdown:hover {
  display: block;
}
.product__dropdown:hover .product__structure {
  right: 0;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  left: 5.6875rem;
}
.product__dropdown:hover .product__parameters {
  background-color: #3465a3;
}
.product__parameters {
  width: 5.6875rem;
  height: 5.6875rem;
  background-color: #3a587e;
  color: #fff;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.product__parameters-icon {
  width: 2.375rem;
  height: 2.375rem;
  fill: #fff;
  margin-bottom: 0.4375rem;
}
.product__parameters-title {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
}
.product__structure {
  position: absolute;
  top: 0;
  right: -9999px;
  opacity: 0;
}
.product__structure::before {
  content: "";
  display: block;
  position: absolute;
  width: 80px;
  height: 280px;
  left: -80px;
  top: 0;
}
.product__title {
  font-weight: 700;
  font-size: 2.25rem;
  color: #292929;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
  .product__content {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.product__content p {
  margin-bottom: 1.5rem;
  padding-right: 6.25rem;
  line-height: 1.375rem;
}
@media screen and (max-width: 768px) {
  .product__content p {
    padding: 0 3.75rem;
  }
}
.product__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.25rem;
}
.product__feature {
  margin-right: 3.25rem;
}
.product__feature:last-child {
  margin-right: 0;
}
.product__feature-title {
  font-size: 1.125rem;
  color: #666;
}
.product__feature-info {
  font-weight: 700;
  color: #000;
}
.product__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product__price {
  font-size: 3.75rem;
  font-weight: 300;
  color: #151515;
  margin-right: 3.75rem;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .product__price {
    margin-right: 1.25rem;
  }
}

.structure {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  padding: 1.75rem 1.5625rem;
}
.structure__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.structure__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #000;
  margin-bottom: 2rem;
}
.structure__item:last-child {
  margin-bottom: 0;
}
.structure__item-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.structure__icon {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}
.structure__name {
  font-weight: 500;
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: #313131;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.modal__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 2.3125rem 4.25rem;
}
.modal__content {
  font-size: 1.125rem;
  font-weight: 500;
  color: #000;
  margin-bottom: 1.125rem;
}

.player {
  position: relative;
}
.player.active .player__splash {
  display: none;
}
.player.paused .player__start {
  background: none;
  position: relative;
}
.player.paused .player__start::before {
  content: "";
  display: block;
  width: 3px;
  height: 16px;
  background: #fff;
  position: absolute;
  border-radius: 1px;
  top: 0;
  left: 0;
}
.player.paused .player__start::after {
  content: "";
  display: block;
  width: 3px;
  height: 16px;
  background: #fff;
  position: absolute;
  border-radius: 1px;
  top: 0;
  right: 2px;
}
.player__video-wrapper {
  width: 41.375rem;
  height: 24.4375rem;
  position: relative;
}
.player__splash {
  width: 100%;
  height: 100%;
  background: url(../img/player/player-bc.jpeg) center center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: 10;
  cursor: pointer;
}
.player__splash::after {
  content: "";
  width: 4.6875rem;
  height: 6.8125rem;
  background: url("../img/svg/player-start.svg");
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.player__controls {
  width: 100%;
  height: 2.1875rem;
  background-color: #404040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 17px;
}
.player__start {
  width: 11px;
  height: 16px;
  background: url("../img/svg/player-start.svg") center center no-repeat;
  background-size: contain;
  margin-right: 1.8125rem;
  cursor: pointer;
}
.player__playback {
  width: 480px;
  position: relative;
}
.player__playback::after {
  content: "";
  display: block;
  width: 100%;
  height: 7px;
  background-color: #626262;
  border-radius: 2px;
}
.player__playback-btn {
  width: 14px;
  height: 14px;
  background-color: #626262;
  border-radius: 50%;
  position: absolute;
  top: -50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.player__duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}
.player__duration-completed {
  margin-right: 5px;
}

.map {
  width: 100%;
  height: 100%;
}