.features {

    @include tablets {
        display: none;
    }

    display: flex;
    align-items: center;

    &__item {
        margin-right: 2.0625rem;

        &:last-child {
            margin-right: 0;
        }
    }
}