.hamburger-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $hamburger-menu;
    background-color: #313131;

    display: none;

    &__close-planks {
        position: absolute;
        right: 35px;
        top: 56px;
        width: 26px;
        height: 5px;
        background-color: #C4C4C4;
        border-radius: 40px;
        transform: rotate(45deg);

        &::before {
            content: "";
            position: absolute;
            width: 26px;
            height: 5px;
            background-color: #C4C4C4;
            border-radius: 40px;
            transform: rotate(90deg);
        }
    }
}