.hero {
    background: url(../img/background/bc-1.jpeg) center center no-repeat;
    background-size: cover;
    color: #fff;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding-top: 1.5rem;
    }

    &__info {
        max-width: 50%;
    }

    &__title {
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 3.625rem;
        margin-bottom: 1.1625rem;
    }

    &__desc {
        font-size: 1.3125rem;
        line-height: 1.5625rem;
        margin-bottom: 2.4375rem;
    }

    &__features {
        padding-bottom: 4.25rem;
        font-size: 1rem;
    }

}