.slider {
	background-color: #f8faf9;

	.bx-wrapper {
		box-shadow: none;
		border: none;
		background: none;
		margin: 0;
		flex-shrink: 1;
	}

	&__container {
		display: flex;
		align-items: center;
		position: relative;
	}

	&__control {
		width: 50px;
		height: 50px;
		position: relative;
		flex-shrink: 0;
		cursor: pointer;
	}

	&__arrow {
		border: none;
		background: none;
		margin: 0;
		padding: 0;
	}

	&__arrow--left {
		display: block;
		width: 2px;
		height: 20px;
		background-color: #000;
		border-radius: 2px;
		transform: rotate(45deg);
		position: absolute;
		top: 9px;
		left: 22px;

		&::after {
			content: '';
			display: block;
			width: 2px;
			height: 20px;
			background-color: #000;
			border-radius: 2px;
			transform: rotate(90deg);
			position: absolute;
			top: 10px;
			left: 9.5px;
		}
	}

	&__arrow--right {
		display: block;
		width: 2px;
		height: 20px;
		background-color: #000;
		border-radius: 2px;
		transform: rotate(-45deg);
		position: absolute;
		top: 9px;
		right: 22px;

		&::after {
			content: '';
			display: block;
			width: 2px;
			height: 20px;
			background-color: #000;
			border-radius: 2px;
			transform: rotate(90deg);
			position: absolute;
			top: 10px;
			right: 9.5px;
		}
	}
}
